
<div th:fragment="galeria">

<div class="row">
    <!-- ||| -->
    <div class="col-md-3 static"> <!-- Informação da pessoa -->
      <div id="sticky-sidebar">
        <h3><span th:utext="${Person.firstname}"></span> <span th:utext="${Person.lastname}"></span></h3>
        <p class="text-muted"><span th:src="${Person.category}"></span></p>
        <div class="feed-item">
          <div class="live-activity">
            <p class="profile-link">Sobre</p>
            <p>Observa: <span class="watchings" th:text="${#lists.size(Person.watching)}"></span></p>
            <p class="watcheds">Observadores: <span th:text="${#lists.size(Person.watched)}"></span></p>
            <p class="text-muted">Género: <span th:if="${Person.gender.equals(2)}"> <span>Masculino</span> </span><span th:if="${Person.gender.equals(1)}"> <span>Feminino</span> </span></p>
            <p class="text-muted">Pais: <span th:utext="${Person.country}"></span></p>
            <p class="text-muted">Districto: <span th:utext="${Person.district}"></span></p>
          </div>
        </div>
        <div class="feed-item">
          <div class="live-activity">
            <p class="profile-link"> <span th:if="${Person.type.equals(0)}"><span> Artista </span></span> <span th:if="${Person.type.equals(1)}"><span> Observador </span></span></p>
          </div>
        </div>
        <button type="button" onclick="startChatting()" class="chatstatu btn btn-primary" style="padding:1px 15px;">Chat</button>
      </div>
    </div>
    <div class="col-md-7"><!-- Fragmento -->
      <!-- Lista de todos os Posts
      ================================================= -->
    <div class="media">
      <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
        <div class="" th:if="${#lists.isEmpty(posts)}"> 
              Não tem fotos.
         </div>
         <div class="" th:if="${!#lists.isEmpty(posts)}"> 
            <th:block th:each="post : ${posts}">
              <div th:if="${post.media.typemedia.equals(0)}" class="grid-item col-md-6 col-sm-6">
                <div class="media-grid">
                  <div class="img-wrapper">
                    <img th:src="${post.media.pathfile}"  class="img-wrapper img-responsive post-image" style="object-fit: contain; border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
                  </div>
                </div>
              </div>
            </th:block>
         </div>
      </div>
    </div>

    </div>
    <div class="col-md-2 static"></div>
  </div>

</div>
