<div class="row">
  <div class="col-md-3 static"> <!-- Informação da pessoa -->
    <div id="sticky-sidebar">
      <h3>Sarah Cruiz</h3>
      <p class="text-muted">Creative Director</p>
      <div class="feed-item">
        <div class="live-activity">
          <p><p class="profile-link">Sobre</p></p>
          <input  id="1" class="text-grey" type="text">
          <p class="text-muted">Idade: <span>23</span></p>
          <p class="text-muted">Género: <span>Feminino</span></p>
          <p class="text-muted"><span>Lisboa</span>, <span>Portugal</span></p>
          <p class="text-muted">Email: <span>Sara@gmail.com</span></p>
          <p class="text-muted">Data de Nascimento: <span>15/10/1989</span></p>
        </div>
      </div>
      <div class="feed-item">
        <div class="live-activity">
          <p><p class="profile-link">Empresa | Artista</p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">

    <!-- Post Create Box
    ================================================= -->
    <br><br>
    <!-- Media
    ================================================= -->
    <div class="media">
      <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
        <!-- fragemnto do Audio  -->
        <div class="grid-item col-md-6 col-sm-6">
          <div class="media-grid">
            <div>
              <audio controls>
                <source src=".ogg" type="audio/ogg">
                <source src=".mp3" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
            <div class="media-info">
              <div class="reaction">
                <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 46</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
              </div>
              <div class="user-info">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div class="user">
                  <h6><a href="#" class="profile-link">Julia Cox</a></h6>
                  <a class="text-green" href="#">Friend</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIM do Fragmento -->
      </div>
    </div>
  </div>
  <div class="col-md-2 static">

  </div>
</div>
