<!-- INICIO FRAGMENTO -->

<!-- Chat Room
================================================= -->
<div class="chat-room">
  <div  class="row">
    <!-- INCIO LISTA CHATS  -->
    <div class="text-header">
      Lista
    </div>
    <div class="scrollmenu">

      <!-- INICIO DO CONTACTO -->
      <div class="iconmessages">
        <a>
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>  <!-- CONTACTO IMAGE -->
            <div class="alertmsg"> <h6>1</h6> </div> <!-- Nº MESSAGENS POR LER -->
        </a>
      </div>
      <!-- FIM DO CONTACTO -->

    </div>
    <!-- FIM LISTA CHATS -->
    <div class="text-header">
      Conversa
    </div>
    <div class="col-md-12 border">

      <!--Chat Messages in Right-->
      <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer">
        <div class="tab-pane active" id="contact-1">
          <div class="chat-body">
            <ul class="chat-message">
              <li class="remetente">

                <div class="chat-item">
                  <div class="chat-item-header">
                    <h5>Eu</h5>
                    <small class="text-muted">á quanto tempo</small>
                  </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
                </div>
              </li>
              <li class="destinatario">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div class="chat-item">
                  <div class="chat-item-header">
                    <h5>Nome do contacto</h5>
                    <small class="text-muted">à quanto tempo</small>
                  </div>
                  <p>Mensagem</p>
                </div>
              </li>


            </ul>
          </div>
        </div>


      </div><!--Chat Messages in Right End-->

      <div class="send-message">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="background: #40CC9B">Go!</button>
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>


<!-- FIM FRAGMENTO -->
