<!-- INICIO FRAGMENTO -->
<!-- PESQUISA CONTACTOS -->

<div th:fragment="search">
<div class="create-post">
  <div class="row">
    <div class="col-md-9 col-sm-9">

      <form class="" action="" method="post">
        <div class="form-group col-md-12 col-sm-12" style="margin-bottom:2%;">
          <input class="form-control" type="text" name="person" value="" placeholder="Name">
        </div>
        <br>
        <div class="form-group col-md-12 col-sm-12">
          <div class="form-group" style="margin-right:2%;">
            <select class="form-control" name="categoria">
              <option value="">Categorias</option> <!-- OPTIONS CATEGORIAS -->
            </select>
          </div>
          <div class="form-group" style="margin-right:2%;">
            <select class="form-control" name="pais">
              <option value="">País</option> <!-- OPTIONS CATEGORIAS -->
            </select>
          </div>
          <div class="form-group" style="margin-right:2%;">
            <select class="form-control" name="cidade">
              <option value="">Cidade</option> <!-- OPTIONS CATEGORIAS -->
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="tools">
            <button class="btn btn-primary pull-right btn-block">Pesquisar</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div><!-- Post Create Box End -->

<!-- Nearby People List
================================================= -->
<div class="text-header">
  Resultados de Pesquisa
</div>

<div class="people-nearby">
  <!-- <div class="google-maps">
    <div id="map" class="map"></div>
  </div> -->

  <!-- CONTACT MODEL -->
  <div class="list-people">
    <div class="row">


      <div class="col-md-12 col-sm-12">
        <!-- CONTACT MODEL -->
        <div class="friend-card col-md-12 col-sm-12">
          <div class="friend-info">
          <div class="col-md-3 col-sm-3">
            <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
          </div>
          <div class="col-md-3 col-sm-3" style="margin-top:2px;">
              <h5><a href="timeline.html" class="profile-link">Nome Perfil </a></h5>
              <p>Nº Watchers</p>
          </div>
          <div class="col-md-3 col-sm-3" style="margin-top:2px;">
              <h5><a href="timeline.html" class="profile-link">Categoria</a></h5>
              <p>Sub-Categoria</p>
          </div>
          <div class="col-md-3 col-sm-3" style="margin-top:20px;">
            <button class="btn btn-primary" style="vertical-align:center" type="button" name="button" value="">Consultar</button>
          </div>
          </div>
        </div>

        <!-- END CONTACT MODEL -->
      </div>


    </div>
  </div>
  <!-- END CONTACT MODEL -->

</div>
</div>

<!-- FIM FRAGMENTO -->
