<div th:fragment="info">


<div class="row">
  <div class="col-md-3" >


  </div>
  <div class="col-md-7">



<!-- Basic Information
================================================= -->

<div class="edit-profile-container">


  <div class="block-title">
    <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Editar Informação</h4>
  </div>
  <div class="edit-block"><form th:action="@{/editprofile}" method="Post" name="basic-info" id="basic-info" class="form-inline">
      <div class="row">


        <div class="form-group col-xs-6">
          <label for="nome">Nome</label>
          <input id="nome" class="form-control input-group-lg" type="text" name="firstname" title="Enter first name" placeholder="name" th:value="${Person.firstname}"  />
        </div>
        <div class="form-group col-xs-6">
          <label for="apelido" class="">Apelido</label>
          <input id="apelido" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Apelido" th:value="${Person.lastname}" />
        </div>
        <div class="form-group col-xs-6">
          <label for="category" class="">Categoria</label>
          <!-- <input id="category" class="form-control input-group-lg" type="text" name="category" title="Enter last name" placeholder="Categoria" th:value="${Person.category}" /> -->
          <select id="categoryevent" class="form-control input-group-lg" name="category">

          </select>
        </div>
            <div class="form-group col-xs-6">
          <label for="subcategory" class="">Sub-sCategoria</label>
          <!-- <input id="subcategory" class="form-control input-group-lg" type="text" name="subcategory" title="Enter last name" placeholder="Sub-Categoria" th:value="${Person.subcategory}" /> -->
          <select id="subcategoryevent" class="form-control input-group-lg" name="subcategory">

          </select>
        </div>
        <div class="form-group col-xs-6">
          <label for="telemovel" class="">Telemóvel</label>
          <input id="telemovel" class="form-control input-group-lg" type="numbers" name="phonenumber" title="Enter last name" placeholder="Telemóvel" th:value="${Person.phonenumber}" />
        </div>
                <div class="form-group col-xs-6">
          <label for="website">WebSite Pessoal</label>
          <input id="website" class="form-control input-group-lg" type="text" name="website" title="Enter first name" placeholder="website" th:value="${Person.website}"  />
        </div>

                <div class="form-group col-xs-6">
          <label for="website">Descrição Pessoa</label>
          <input id="website" class="form-control input-group-lg" type="text" name="description" title="Enter first name" placeholder="description" th:value="${User.description}"  />
        </div>
      </div>
      <div class="form-group gender">

      </div>
      <div class="row">



    </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label class="sr-only" >City</label>
<select class="form-control" name="district">
                          <option value="indefinido">Indefinido</option>
                          <option value="Aveiro">Aveiro</option>
                          <option value="Beja">Beja</option>
                          <option value="Braga">Braga</option>
                          <option value="Braganca">Bragança</option>
                          <option value="Castelo branco">Castelo Branco</option>
                          <option value="Coimbra">Coimbra</option>
                          <option value="Evora">Évora</option>
                          <option value="Faro">Faro</option>
                          <option value="Guarda">Guarda</option>
                          <option value="Ilha da madeira">Ilha da Madeira</option>
                          <option value="Ilha das flores">Ilha das Flores</option>
                          <option value="Ilha porto santo">Ilha de Porto Santo</option>
                          <option value="Ilha santa maria">Ilha de Santa Maria</option>
                          <option value="Ilha sao jorge">Ilha de São Jorge</option>
                          <option value="Ilha sao miguel">Ilha de São Miguel</option>
                          <option value="Ilha do corvo">Ilha do Corvo</option>
                          <option value="Ilha do faial">Ilha do Faial</option>
                          <option value="Ilha do pico">Ilha do Pico</option>
                          <option value="Ilha graciosa">Ilha Graciosa</option>
                          <option value="Ilha terceira">Ilha Terceira</option>
                          <option value="Leiria">Leiria</option>
                          <option value="Lisboa">Lisboa</option>
                          <option value="Portalegre">Portalegre</option>
                          <option value="Porto">Porto</option>
                          <option value="Santarem">Santarém</option>
                          <option value="Setubal">Setúbal</option>
                          <option value="Viana do castelo">Viana do Castelo</option>
                          <option value="Vila real">Vila Real</option>
                          <option value="Viseu">Viseu</option>
                          </select>
        </div>
        <div class="form-group col-xs-6">
          <label for="country" class="sr-only"></label>
          <select class="form-control" name="country" id="country" th:value="${User.country}">
            <option value="Portugal" disabled selected>Country</option>
            <option value="Portugal">Portugal</option>
          </select>
        </div>




      </div>
      <button type="submit" class="btn btn-primary">Editar</button>
   </form>
  </div>
  </div>
  <div th:include="frag_perfil_password::password">Mudar de Password</div>
</div>

</div>

</div>
</div>
