
<div th:fragment="timeline">

  <div class="row">
    <!-- ||| -->
    <div class="col-md-3 static"> <!-- Informação da pessoa -->
      <div id="sticky-sidebar">
        <h3><span th:src="${User.firstname}"></span></h3>
        <p class="text-muted"><span th:src="${User.category}"></span></p>
        <div class="feed-item">
          <div class="live-activity">
            <p class="profile-link">Sobre</p>
            <input  id="1" class="text-grey" type="text">
            <p class="text-muted">Idade: <span th:utext="${User.firstname}"></span></p>
            <p class="text-muted">Género: <span th:utext="${User.gender}"></span></p>
            <p class="text-muted">Lisboa<span th:utext="${User.country}"></span></p>
            <p class="text-muted">Email: <span th:utext="${User.email}"></span></p>
            <p class="text-muted">Data de Nascimento: <span th:utext="${User.birthdate}"></span></p>
          </div>
        </div>
        <div class="feed-item">
          <div class="live-activity">
            <p class="profile-link"><span th:utext="${User.type}"></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7"><!-- Fragmento -->
      <!-- Lista de todos os Posts
      ================================================= -->
      <th:block th:each="post : ${posts}">

                <!-- POST MODELO -->
              <div class="post-content">



                <div th:if="${post.media.typemedia.equals(0)}">
                  <img th:src="${post.media.pathfile}"  class="img-responsive post-image" style="height: 500px; object-fit: contain;">
                   <!--Div Image _-->
                </div>


                <div th:if="${post.media.typemedia.equals(1)}"><!--Divs Video _-->
                <div  class="media">  
                  <iframe class="post-video" th:src="${post.media.pathfile}" width="420" height="315"></iframe>
                </div>
              </div>


                <div th:if="${post.media.typemedia.equals(2)}"> <!--Divs son _-->
                  <audio controls> 
                    <source th:src="${post.media.pathfile}" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
              </div>



               <div th:if="${post.media.typemedia.equals(3)}"> <!--Div sem media _-->
              <div  class="media"></div>
              </div>



                  <div class="post-container">
                  <img th:src="${post.userimage}" alt="user" class="profile-photo-md pull-left" />
                  <div class="post-detail">
                    <div class="user-info">
                      <h5><a href="#"> <span th:utext="${post.username}"> </span></a> <span class="following" th:utext="${post.userwatched}"> </span></h5>
                      <p class="text-muted"><span th:utext="${T(thalia.atec.thaliaPrototipo.Util.DateUtil).timeago(post.date)}"></span> </p>
                    </div>
                    <div class="reaction">
                      <a class="btn text-green"><i class="icon ion-thumbsup"></i> <span th:utext="${#lists.size(post.likes)}" ></span> </a>
                  
                    </div>
                    <div class="line-divider"></div>
                  </div>
                  </div>
                    <div class="post-text">
                      <p> <span th:utext="${post.content}" ></span></p>
                    </div>


               
               <th:block th:each="Comment : ${post.comments}">
                    <div class="line-divider" ></div>
                     <div class="post-comment">
                     <img th:src="${Comment.imguser}" alt="" class="profile-photo-sm" style="background-color:white;"/> 
                      <p><a href="/perfil" class="profile-link"><span th:text="${Comment.username}"></span>: </a>
                        <span th:utext="${Comment.content}" ></span></p>
                    </div>
                </th:block>   
                   <!-- Fim dos Comentários de cada post -->
              <div class="post-comment">

                  <!------- FORM COMENTARIO----- -->
                  <form style="width: 100%;"  th:action="@{/newcomment}" method="POST" >
                    <div class="form-group" style="width: 100% !important;">
                      <input type="hidden" name="idpost" th:value="${post.id}">
                      <div style="width: 10%;float: left;"><img th:src="${User.pathimage}" alt="" class="profile-photo-sm" /></div>
                      <div style="width: 90%;float: right;"><input type="text" class="form-control" name='content' placeholder="Comentar"></div>
                    </div>
                    <div class="form-group" style="width:100%;float: right;">  <button class="btn btn-primary pull-right" id="submit" type="submit">Publicar</button></div>
                  </form>
              </div>
          </div>
        </th:block>
    
    </div>
    <div class="col-md-2 static"></div>
  </div>
</div>