<!-- INICIO FRAGMENTOS -->
<!-- Friend List
================================================= -->
<div  th:fragment="friendlist">
<div class="text-header">
  Lista de Contactos
</div>
<div class="list-people">
  <div class="row">


    <div class="col-md-12 col-sm-12">
      <!-- CONTACT MODEL -->
      <div class="friend-card col-md-12 col-sm-12">
        <div class="friend-info">
        <div class="col-md-3 col-sm-3">
          <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
        </div>
        <div class="col-md-3 col-sm-3" style="margin-top:2px;">
            <h5><a href="timeline.html" class="profile-link">Nome Perfil </a></h5>
            <p>Nº Watchers</p>
        </div>
        <div class="col-md-3 col-sm-3" style="margin-top:2px;">
            <h5><a href="timeline.html" class="profile-link">Categoria</a></h5>
            <p>Sub-Categoria</p>
        </div>
        <div class="col-md-3 col-sm-3" style="margin-top:20px;">
          <button class="btn btn-primary" style="vertical-align:center" type="button" name="button" value="">Consultar</button>
        </div>
        </div>
      </div>

      <!-- END CONTACT MODEL -->
    </div>


  </div>
</div>
</div>

<!-- FIM FRAGMENTO -->