
         <!-- Preview Post fragpost.html
		================================================= -->

<form th:object="${Post}">
<div th:each="post : ${Post}">


 <div th:fragment="fragpost" >
 		

              <!-- POST MODELO -->

				<div class="post-content">
               <video class="post-video" controls> <source src="videos/1.mp4" type="video/mp4"> </video>
              <div class="post-container">
                <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
                <div class="post-detail">
                  <div class="user-info">
                    <h5><a href="timeline.html" class="profile-link" th:value="${post.user.name}"> username </a> <span class="following">following</span></h5>
                    <p class="text-muted">D Postado dia </p>
                  </div>
                  <div class="reaction">
                    <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                  </div>
                  <div class="line-divider"></div>
                  <div class="post-text">
                    <p> String Conteudo  </p>
                  </div>

                  <form th:each="comments : ${Comment}">
                 

                  <div class="line-divider"></div>
                   <div class="post-comment">
                    <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
                    <p><a href="timeline.html" class="profile-link"> Olivia </a>  </p>
                  </div>


                  </form>
                    <!-- FORM COMENTARIO -->
                    
                     <form style="width: 100%;" >
                      <div class="form-group" style="width: 100% !important;">
                        <div style="width: 10%;float: left;"><img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" /></div>
                        <div style="width: 90%;float: right;"><input type="text" class="form-control" name='description' placeholder="Post a comment"></div>
                      </div>
                      <div class="form-group" style="width:100%;float: right;">  <button class="btn btn-primary pull-right" id="submit" type="submit">Publish</button></div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
</div>
          <!-- END POST MODELO -->

</form>