<div class="row">
  <div class="col-md-3" >

    <!--Edit Profile Menu-->
    <ul class="edit-menu">
      <li class="active"><i class="icon ion-ios-information-outline"></i><a href="edit-profile-basic.html">Informação</a></li>
      <li><i class="icon ion-ios-briefcase-outline"></i><a href="edit-profile-work-edu.html">Education and Work</a></li>
      <li><i class="icon ion-ios-heart-outline"></i><a href="edit-profile-interests.html">Meus Interesses</a></li>
      <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Definições de conta</a></li>
      <li><i class="icon ion-ios-locked-outline"></i><a href="edit-profile-password.html">Mudar de Password</a></li>
    </ul>
  </div>
  <div class="col-md-7">

   