<div th:fragment="post">


<div class="create-post">
  <div class="text-header">Fazer Post</div>
  <form th:action="@{/newpost}" method="Post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group col-md-12">
          <img th:src="${User.pathimage}" alt="" class="profile-photo-md" />
          <textarea name="content" id="start" rows="3" class="form-control" placeholder="Partilhe!!" style="resize:none;" maxlength="150" oninput="myFunction()"></textarea>
          <input type="hidden" name="typemedia" value="3" id="tipo_media">
          <input id="file-input"  th:name="file" type="file" accept="" />
          <script>
          function myFunction() {
              var x = document.getElementById("start").value;
              document.getElementById("puthere").innerHTML = "" + x;
          }
        </script>
        </div>
      </div>
    </div>
     <div class="media-upload" style="margin-top:2%;">
       <div class="row">
        <ul class="file col-md-12">
                      <li id="natzc1" class="col-md-2" style="width:10%;">
                        <a>
                          <label id="image" for="file-input">
                            <i class="ion-images"></i>
                          </label>
                         <!-- <input id="image-input"  name="image" type="file" accept="image/*" onchange="loadFile(event)"/>-->
                        </a>
                      </li>
                      <li id="natzc2" class="col-md-2" style="width:10%;">
                        <a>
                          <label>
                            <i class="ion-ios-videocam"></i>
                          </label>
                        </a>
                      </li>
                      <li id="natzc3" class="col-md-2" style="width:10%;">
                        <a>
                          <label id="audio" for="file-input">
                            <i  class="ion-compose"></i>
                          </label>
                          <!--<input id="audio-input" type="file" name="audio" value="" accept="audio/*">-->
                        </a>
                      </li>
                      <li id="natzc4">
                        <input id="video-input" class="form-control" name="" type="text" size="42" placeholder="Link do Video" value="https://www.youtube.com/embed/" style="visibility: visible;"/>
                      </li>
                      <li id="natzc5">
                        <a>
                        <label>
                          <i  class="ion-close"></i>
                        </label>
                      </a>
                      </li>
                     </ul>
       </div>
      </div>
      <div class="" style="float:right; margin-bottom: 10px;">
     	<button class="btn btn-primary pull-right" type="submit">Publicar</button>
      </div>
      </form>
    <!--
    	form id="singleUploadForm" name="singleUploadForm">
           <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
       	</form>
    -->

       <script>
         var loadFile = function(event) {
           var reader = new FileReader();
           reader.onload = function(){
               var output = document.getElementById("output");
             output.src = reader.result;
           };
           reader.readAsDataURL(event.target.files[0]);
         };
       </script>

       <!-- Preview Post
================================================= -->
        <div class="post-content" id="preview-post">
              <div id="natc1" class="media">
                <img id="output" src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" style="max-height:400px; width:auto; margin:auto; display:block;" />
              </div>
              <div id="natc2" class="media">
                <iframe class="post-video"  width="570" height="315" id="output2" src=""></iframe>
              </div>
              <div id="natc3" class="media">
                <audio id="post_audio" controls>
                  <source id="output3" src="horse.ogg" type="audio/ogg">
                  <source id="output4" src="horse.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
              </div>
  <div class="post-container">
    <img th:src="${User.pathimage}" alt="user" class="profile-photo-md pull-left" />
    <div class="post-detail">
      <div class="user-info">
        <h5><a href="timeline.html" class="profile-link"><span th:utext="${User.firstname}" ></span> <span th:utext="${User.lastname}" ></span></a> <span class="following"><span th:utext="${User.userwatched}" ></span></span></h5>
      </div>
      <div class="reaction">
        <a class="btn text-green"><i class="icon ion-thumbsup"></i> 0 </a>
      </div>
      <div class="line-divider"></div>
      <div class="post-text">
        <div id="puthere"></div>
        <!-- <p id="puthere">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p> -->
      </div>
      <div class="line-divider"></div>
    </div>
  </div>
</div>

    
</div><!-- Post Create Box End-->
<br>
<hr class="separate text-legreen"></hr>




  <th:block th:each="post : ${posts}">

  <!-- POST MODELO -->
<div class="post-content">



  <div th:if="${post.media.typemedia.equals(0)}">
  	<img th:src="${post.media.pathfile}"  class="img-responsive post-image" style="height: 500px; object-fit: contain;">
    </center> <!--Div Image _-->
  </div>


  <div th:if="${post.media.typemedia.equals(1)}"><!--Divs Video _-->
  <div id="natc2" class="media">  
    <iframe class="post-video" th:src="${post.media.pathfile}" width="420" height="315"></iframe>
  </div>
</div>


  <div th:if="${post.media.typemedia.equals(2)}"> <!--Divs son _-->
  <div  class="media"> 
    <audio controls> 
      <source id="output3" src="horse.ogg" type="audio/ogg">
      <source id="output4" src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>


 <div th:if="${post.media.typemedia.equals(3)}"> <!--Div sem media _-->
<div  class="media"> </div>
</div>



	  <div class="post-container">
    <img th:src="${post.userimage}" alt="user" class="profile-photo-md pull-left" />
    <div class="post-detail">
      <div class="user-info">
        <h5><a href="#"> <span th:utext="${post.username}"> </span></a> <span class="following"> <span th:utext="${post.userwatched}"> </span></h5>
        <p class="text-muted"><span th:utext="${T(thalia.atec.thaliaPrototipo.Util.DateUtil).timeago(post.date)}"></span> </p>
      </div>
      <div class="reaction">
        <a class="btn text-green"><i class="icon ion-thumbsup"></i> <span th:utext="${#lists.size(post.likes)}" ></span> </a>
    
      </div>
      <div class="line-divider"></div>
      <div class="post-text">
        <p> <span th:utext="${post.content}" ></p>
      </div>


 
  <th:block th:each="Comment : ${post.comments}">

      <div class="line-divider" ></div>
       <div class="post-comment">
       <img th:src="${Comment.imguser}" alt="" class="profile-photo-sm" style="background-color:white;"/> 
        <p><a href="/perfil" class="profile-link"><span th:text="${Comment.username}" ></span>: </a>
          <span th:utext="${Comment.content}" ></span></p>
      </div>


  </th:block>   


  	 <!-- Fim dos Comentários de cada post -->
    



      <div class="post-comment">

        <!------- FORM COMENTARIO----- -->

         <form style="width: 100%;"  th:action="@{/newcomment}" method="POST" >
          <div class="form-group" style="width: 100% !important;">
            <input type="hidden" name="idpost" th:value="${post.id}">
            <div style="width: 10%;float: left;"><img th:src="${User.pathimage}" alt="" class="profile-photo-sm" /></div>
            <div style="width: 90%;float: right;"><input type="text" class="form-control" name='content' placeholder="Comentar">
         
            </div>
          </div>
          <div class="form-group" style="width:100%;float: right;">  <button class="btn btn-primary pull-right" id="submit" type="submit">Publicar</button></div>

        </form>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

</th:block>
