
<div th:fragment="homepage">

      <div class="container">
        <div class="row">

          <!-- Newsfeed Common Side Bar Left
          ================================================= -->
          <div id="sticky-menu" class="col-md-3 static">
            <ul class="nav-news-feed">
              <li><i class="fas fa-newspaper"></i><div><a href="/feed?main=homepage&frag=post">Meu feed</a></div></li>
              <li><i class="fas fa-users"></i><div><a href="/feed?main=homepage&frag=search">Procurar Pessoas</a></div></li>
              <li><i class="fas fa-address-book"></i><div><a href="feed?main=homepage&frag=contacts">Lista de Contactos</a></div></li>
              <li><i class="fas fa-comments"></i><div><a href="/feed?main=homepage&frag=chat">Messagens</a></div></li>

            </ul><!--news-feed links ends-->
          </div>

          <div class="col-md-7">
            <!---Frags- -->
         
          <th:block th:switch="${frag}">

          <div th:case="post"><span th:include="fragpost::post"></span></div>  
           <div th:case="search"><span th:include="fragsearch::search"></span></div>   

          <div th:case="chat"><span th:include="fragchat::chat"></span></div> 


          <div th:case="contacts"><span th:include="fragfriendlist::friendlist"></span></div>    

         <!--  <div th:case=""><span th:include=" :: "></span></div>     -->
          

         </th:block>

          </div>

         

          <!-- LIST CONTACTS
          ================================================= -->
          <th:block th:each="friend: ${friends}">
          <div class="col-md-2 static">
            <div class="suggestions" id="sticky-sidebar">
              <h4 class="grey">Contactos Online</h4>

              <!-- MODEL CONTACT ONLINE -->

              <div class="follow-user">
                <img th:src="${friend.pathimage}" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html"><span th:text="${friend.firstname}"></span></a></h5>
                  <p class="text-green"><span th:text="${friend.category}"></span></p>
                </div>
              </div>



              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
<!---  FIM BOCADO --->