<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Thalia</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/ionicons.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
	</head>
	<body>

    <!-- Header
    ================================================= -->
		<header id="header-inverse">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
					<div class="row">
						<div class="navbar-header col-sm-6">

							<a class="navbar-brand" href="index-register.html"><img src="images/logo.png" alt="logo" /></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="navbar-header col-sm-6 text-center mx-auto" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right main-menu">


								<li class="dropdown"><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

    <!-- Landing Page Contents
    ================================================= -->


<div class="row no-margin">
	<div id="lp-register">
		<div class="container wrapper">
			<div class="row">
				<div class="col-sm-5">
					<div class="intro-texts">
						<h1 class="text-white">Make Cool Friends !!!</h1>
						<p>Thalia is a social network aimed to connect artists. You can write a page about you and upload pictures, music and video. <br /> <br />What are you waiting for? join for free.</p>
						<button class="btn btn-primary">Learn More</button>
					</div>
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<div class="reg-form-container">

						<div class="row">
							<div class="col-sm-12">
								<!-- Register/Login Tabs-->
								<div class="reg-options">
									<ul class="nav nav-tabs">
										<li class="active col-sm-6 tabview"><a href="#register" class="tabview" data-toggle="tab">Register</a></li>
										<li class=" col-sm-6 tabview"><a href="#login" class="" data-toggle="tab">Login</a></li>
									</ul><!--Tabs End-->
								</div>
							</div>
						</div>


  <form th:action="@{/webhome/registry}" method="POST">
						<!--Registration Form Contents-->
						<div class="tab-content">
							<div class="tab-pane active" id="register">
								<h3>Register Now !!!</h3>
								<p class="text-muted">Be cool and join today. Meet millions</p>

								<!--Register Form-->
									<div class="row">
										<div class="form-group col-xs-6">
											<label class="sr-only">First Name</label>
											<input class="form-control input-group newborder" type="text" name="firstname" title="Enter first name" placeholder="First name" maxlength="20" required/>
										</div>
										<div class="form-group col-xs-6">
											<label class="sr-only">Last Name</label>
											<input class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" maxlength="20" required/>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="form-group col-xs-12">
											<label class="sr-only">Email</label>
											<input class="form-control input-group-lg" type="text" name="email" title="Enter Email" placeholder="Your Email" maxlength="26" required/>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="form-group col-xs-12">
											<label class="sr-only">Password</label>
											<input class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Password" maxlength="20" required/>
										</div>
									</div>
									<br>
										<div class="row">
											<div class="form-group"> <!-- Date input -->
												<label class="control-label" for="date">Date of Birth</label>
												<input class="form-control"  name="birthdate" placeholder="MM/DD/YYYY" type="text" required/>
											</div>
							    </div>
									<br>
									<div class="row">
										<div class="form-group">
											<label class="radio-inline">
												<input type="radio" name="gender" value="2" checked>Male
											</label>
											<label class="radio-inline">
												<input type="radio" name="gender" value="1">Female
											</label>
										</div>
									</div>

									<br>
									<div class="row">
										<div class="form-group col-xs-6">
											<label class="sr-only">City</label>
			<select class="form-control" name="city">
			<option value="indiferente">Indiferente</option>

			<option value="aveiro">Aveiro</option>
			<option value="beja">Beja</option>
			<option value="braga">Braga</option>
			<option value="braganca">Bragança</option>
			<option value="castelo_branco">Castelo Branco</option>
			<option value="coimbra">Coimbra</option>

			<option value="evora">Évora</option>
			<option value="faro">Faro</option>
			<option value="guarda">Guarda</option>
			<option value="ilha_da_madeira">Ilha da Madeira</option>
			<option value="ilha_das_flores">Ilha das Flores</option>
			<option value="ilha_porto_santo">Ilha de Porto Santo</option>

			<option value="ilha_santa_maria">Ilha de Santa Maria</option>
			<option value="ilha_sao_jorge">Ilha de São Jorge</option>
			<option value="ilha_sao_miguel">Ilha de São Miguel</option>
			<option value="ilha_do_corvo">Ilha do Corvo</option>
			<option value="ilha_do_faial">Ilha do Faial</option>

			<option value="ilha_do_pico">Ilha do Pico</option>
			<option value="ilha_graciosa">Ilha Graciosa</option>
			<option value="ilha_terceira">Ilha Terceira</option>
			<option value="leiria">Leiria</option>
			<option value="lisboa">Lisboa</option>
			<option value="portalegre">Portalegre</option>

			<option value="porto">Porto</option>
			<option value="santarem">Santarém</option>
			<option value="setubal">Setúbal</option>
			<option value="viana_do_castelo">Viana do Castelo</option>
			<option value="vila_real">Vila Real</option>

			<option value="viseu">Viseu</option>
			</select>
										</div>
										<div class="form-group col-xs-6">
											<label for="country" class="sr-only">Country</label>


	<select class="form-control" name="country">
	<option value="AF">Afghanistan</option>
	<option value="AX">Åland Islands</option>
	<option value="AL">Albania</option>
	<option value="DZ">Algeria</option>
	<option value="AS">American Samoa</option>
	<option value="AD">Andorra</option>
	<option value="AO">Angola</option>
	<option value="AI">Anguilla</option>
	<option value="AQ">Antarctica</option>
	<option value="AG">Antigua and Barbuda</option>
	<option value="AR">Argentina</option>
	<option value="AM">Armenia</option>
	<option value="AW">Aruba</option>
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>
	<option value="AZ">Azerbaijan</option>
	<option value="BS">Bahamas</option>
	<option value="BH">Bahrain</option>
	<option value="BD">Bangladesh</option>
	<option value="BB">Barbados</option>
	<option value="BY">Belarus</option>
	<option value="BE">Belgium</option>
	<option value="BZ">Belize</option>
	<option value="BJ">Benin</option>
	<option value="BM">Bermuda</option>
	<option value="BT">Bhutan</option>
	<option value="BO">Bolivia, Plurinational State of</option>
	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
	<option value="BA">Bosnia and Herzegovina</option>
	<option value="BW">Botswana</option>
	<option value="BV">Bouvet Island</option>
	<option value="BR">Brazil</option>
	<option value="IO">British Indian Ocean Territory</option>
	<option value="BN">Brunei Darussalam</option>
	<option value="BG">Bulgaria</option>
	<option value="BF">Burkina Faso</option>
	<option value="BI">Burundi</option>
	<option value="KH">Cambodia</option>
	<option value="CM">Cameroon</option>
	<option value="CA">Canada</option>
	<option value="CV">Cape Verde</option>
	<option value="KY">Cayman Islands</option>
	<option value="CF">Central African Republic</option>
	<option value="TD">Chad</option>
	<option value="CL">Chile</option>
	<option value="CN">China</option>
	<option value="CX">Christmas Island</option>
	<option value="CC">Cocos (Keeling) Islands</option>
	<option value="CO">Colombia</option>
	<option value="KM">Comoros</option>
	<option value="CG">Congo</option>
	<option value="CD">Congo, the Democratic Republic of the</option>
	<option value="CK">Cook Islands</option>
	<option value="CR">Costa Rica</option>
	<option value="CI">Côte d'Ivoire</option>
	<option value="HR">Croatia</option>
	<option value="CU">Cuba</option>
	<option value="CW">Curaçao</option>
	<option value="CY">Cyprus</option>
	<option value="CZ">Czech Republic</option>
	<option value="DK">Denmark</option>
	<option value="DJ">Djibouti</option>
	<option value="DM">Dominica</option>
	<option value="DO">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="EG">Egypt</option>
	<option value="SV">El Salvador</option>
	<option value="GQ">Equatorial Guinea</option>
	<option value="ER">Eritrea</option>
	<option value="EE">Estonia</option>
	<option value="ET">Ethiopia</option>
	<option value="FK">Falkland Islands (Malvinas)</option>
	<option value="FO">Faroe Islands</option>
	<option value="FJ">Fiji</option>
	<option value="FI">Finland</option>
	<option value="FR">France</option>
	<option value="GF">French Guiana</option>
	<option value="PF">French Polynesia</option>
	<option value="TF">French Southern Territories</option>
	<option value="GA">Gabon</option>
	<option value="GM">Gambia</option>
	<option value="GE">Georgia</option>
	<option value="DE">Germany</option>
	<option value="GH">Ghana</option>
	<option value="GI">Gibraltar</option>
	<option value="GR">Greece</option>
	<option value="GL">Greenland</option>
	<option value="GD">Grenada</option>
	<option value="GP">Guadeloupe</option>
	<option value="GU">Guam</option>
	<option value="GT">Guatemala</option>
	<option value="GG">Guernsey</option>
	<option value="GN">Guinea</option>
	<option value="GW">Guinea-Bissau</option>
	<option value="GY">Guyana</option>
	<option value="HT">Haiti</option>
	<option value="HM">Heard Island and McDonald Islands</option>
	<option value="VA">Holy See (Vatican City State)</option>
	<option value="HN">Honduras</option>
	<option value="HK">Hong Kong</option>
	<option value="HU">Hungary</option>
	<option value="IS">Iceland</option>
	<option value="IN">India</option>
	<option value="ID">Indonesia</option>
	<option value="IR">Iran, Islamic Republic of</option>
	<option value="IQ">Iraq</option>
	<option value="IE">Ireland</option>
	<option value="IM">Isle of Man</option>
	<option value="IL">Israel</option>
	<option value="IT">Italy</option>
	<option value="JM">Jamaica</option>
	<option value="JP">Japan</option>
	<option value="JE">Jersey</option>
	<option value="JO">Jordan</option>
	<option value="KZ">Kazakhstan</option>
	<option value="KE">Kenya</option>
	<option value="KI">Kiribati</option>
	<option value="KP">Korea, Democratic People's Republic of</option>
	<option value="KR">Korea, Republic of</option>
	<option value="KW">Kuwait</option>
	<option value="KG">Kyrgyzstan</option>
	<option value="LA">Lao People's Democratic Republic</option>
	<option value="LV">Latvia</option>
	<option value="LB">Lebanon</option>
	<option value="LS">Lesotho</option>
	<option value="LR">Liberia</option>
	<option value="LY">Libya</option>
	<option value="LI">Liechtenstein</option>
	<option value="LT">Lithuania</option>
	<option value="LU">Luxembourg</option>
	<option value="MO">Macao</option>
	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
	<option value="MG">Madagascar</option>
	<option value="MW">Malawi</option>
	<option value="MY">Malaysia</option>
	<option value="MV">Maldives</option>
	<option value="ML">Mali</option>
	<option value="MT">Malta</option>
	<option value="MH">Marshall Islands</option>
	<option value="MQ">Martinique</option>
	<option value="MR">Mauritania</option>
	<option value="MU">Mauritius</option>
	<option value="YT">Mayotte</option>
	<option value="MX">Mexico</option>
	<option value="FM">Micronesia, Federated States of</option>
	<option value="MD">Moldova, Republic of</option>
	<option value="MC">Monaco</option>
	<option value="MN">Mongolia</option>
	<option value="ME">Montenegro</option>
	<option value="MS">Montserrat</option>
	<option value="MA">Morocco</option>
	<option value="MZ">Mozambique</option>
	<option value="MM">Myanmar</option>
	<option value="NA">Namibia</option>
	<option value="NR">Nauru</option>
	<option value="NP">Nepal</option>
	<option value="NL">Netherlands</option>
	<option value="NC">New Caledonia</option>
	<option value="NZ">New Zealand</option>
	<option value="NI">Nicaragua</option>
	<option value="NE">Niger</option>
	<option value="NG">Nigeria</option>
	<option value="NU">Niue</option>
	<option value="NF">Norfolk Island</option>
	<option value="MP">Northern Mariana Islands</option>
	<option value="NO">Norway</option>
	<option value="OM">Oman</option>
	<option value="PK">Pakistan</option>
	<option value="PW">Palau</option>
	<option value="PS">Palestinian Territory, Occupied</option>
	<option value="PA">Panama</option>
	<option value="PG">Papua New Guinea</option>
	<option value="PY">Paraguay</option>
	<option value="PE">Peru</option>
	<option value="PH">Philippines</option>
	<option value="PN">Pitcairn</option>
	<option value="PL">Poland</option>
	<option value="Portugal">Portugal</option>
	<option value="PR">Puerto Rico</option>
	<option value="QA">Qatar</option>
	<option value="RE">Réunion</option>
	<option value="RO">Romania</option>
	<option value="RU">Russian Federation</option>
	<option value="RW">Rwanda</option>
	<option value="BL">Saint Barthélemy</option>
	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
	<option value="KN">Saint Kitts and Nevis</option>
	<option value="LC">Saint Lucia</option>
	<option value="MF">Saint Martin (French part)</option>
	<option value="PM">Saint Pierre and Miquelon</option>
	<option value="VC">Saint Vincent and the Grenadines</option>
	<option value="WS">Samoa</option>
	<option value="SM">San Marino</option>
	<option value="ST">Sao Tome and Principe</option>
	<option value="SA">Saudi Arabia</option>
	<option value="SN">Senegal</option>
	<option value="RS">Serbia</option>
	<option value="SC">Seychelles</option>
	<option value="SL">Sierra Leone</option>
	<option value="SG">Singapore</option>
	<option value="SX">Sint Maarten (Dutch part)</option>
	<option value="SK">Slovakia</option>
	<option value="SI">Slovenia</option>
	<option value="SB">Solomon Islands</option>
	<option value="SO">Somalia</option>
	<option value="ZA">South Africa</option>
	<option value="GS">South Georgia and the South Sandwich Islands</option>
	<option value="SS">South Sudan</option>
	<option value="ES">Spain</option>
	<option value="LK">Sri Lanka</option>
	<option value="SD">Sudan</option>
	<option value="SR">Suriname</option>
	<option value="SJ">Svalbard and Jan Mayen</option>
	<option value="SZ">Swaziland</option>
	<option value="SE">Sweden</option>
	<option value="CH">Switzerland</option>
	<option value="SY">Syrian Arab Republic</option>
	<option value="TW">Taiwan, Province of China</option>
	<option value="TJ">Tajikistan</option>
	<option value="TZ">Tanzania, United Republic of</option>
	<option value="TH">Thailand</option>
	<option value="TL">Timor-Leste</option>
	<option value="TG">Togo</option>
	<option value="TK">Tokelau</option>
	<option value="TO">Tonga</option>
	<option value="TT">Trinidad and Tobago</option>
	<option value="TN">Tunisia</option>
	<option value="TR">Turkey</option>
	<option value="TM">Turkmenistan</option>
	<option value="TC">Turks and Caicos Islands</option>
	<option value="TV">Tuvalu</option>
	<option value="UG">Uganda</option>
	<option value="UA">Ukraine</option>
	<option value="AE">United Arab Emirates</option>
	<option value="GB">United Kingdom</option>
	<option value="US">United States</option>
	<option value="UM">United States Minor Outlying Islands</option>
	<option value="UY">Uruguay</option>
	<option value="UZ">Uzbekistan</option>
	<option value="VU">Vanuatu</option>
	<option value="VE">Venezuela, Bolivarian Republic of</option>
	<option value="VN">Viet Nam</option>
	<option value="VG">Virgin Islands, British</option>
	<option value="VI">Virgin Islands, U.S.</option>
	<option value="WF">Wallis and Futuna</option>
	<option value="EH">Western Sahara</option>
	<option value="YE">Yemen</option>
	<option value="ZM">Zambia</option>
	<option value="ZW">Zimbabwe</option>
</select>

										</div>
									</div>

								<!-- <p><a href="#">Already have an account?</a></p> -->
								<br>
								<div class="row">
									<div class="col-sm-6" id="procurado">
										<button class="btn btn-primary btn-large"  type="submit "name="type" value="1" >Find Me!</button>
									</div>
									<div class="col-sm-6" id="procurador">
										<button class="btn btn-primary btn-large" type="submit" name="type" value="2" >Let Me Find!</button>
									</div>
								</div>


							</div><!--Registration Form Contents Ends-->
</form>		<!--Register Now Form Ends-->

							<!--Login-->
							<div class="tab-pane" id="login">
								<h3>Login</h3>
								<p class="text-muted">Log into your account</p>

								<!--Login Form-->
								<form name="Login_form" id='Login_form'>
									 <div class="row">
										<div class="form-group col-xs-12">
											<label for="my-email" class="sr-only">Email</label>
											<input id="my-email" class="form-control input-group-lg" type="text" name="Email" title="Enter Email" placeholder="Your Email"/>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-xs-12">
											<label for="my-password" class="sr-only">Password</label>
											<input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Password"/>
										</div>
									</div>

								<p><a href="#">Forgot Password?</a></p>
								<button class="btn btn-primary">Login Now</button>

								</form><!--Login Form Ends-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin" style="margin-top:5%!important;margin-bottom:5%!important;">
	<div class="col-sm-12 mx-auto">
		<div class="col-md-3">
			<div class="card col-md-offset-3" style="width: 20rem;">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">João Vilares</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card col-md-offset-3" style="width: 20rem;">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">João Mirante</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card col-md-offset-3" style="width: 20rem;">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Nilton Fontes</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card col-md-offset-3" style="width: 20rem;">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Gonçalo Lavrador</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
	</div>

</div>



    <!--preloader-->
    <!-- <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div> -->

    <!-- Scripts
    ================================================= -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

		<script src="js/jquery.incremental-counter.js"></script>
    <script src="js/script.js"></script>

		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->

	<!-- Bootstrap Date-Picker Plugin -->



	<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    });
</script>

	</body>
</html>
