<div th:fragment="perfil">


    <div class="container">

      <!-- Timeline
      ================================================= -->
       <div class="timeline"><!--Page -->
        <div class="timeline-cover"><!--Cabeçalho-->

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs"><!-- Navbar para todos  -->
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />

                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="timeline.html" class="active">Timeline</a></li>
                  <li><a href="timeline-about.html">About</a></li>
                  <li><a href="timeline-album.html">Galeria</a></li>
									<li><a href="timeline-playlist.html">PlayList</a></li>
                  <li><a href="timeline-friends.html">Amigos</a></li>
									<li><a href="edit-profile-basic.html">Profile</a></li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>1,299 people following her</li>
                  <li><button class="btn-primary">Add Friend</button></li>
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->



        </div>
        




          <!-- Fragmentos -->
             <th:block  th:switch="${frag}">

          <div th:case="info"><span th:include="frag_perfil_info::info"></span></div>  
         
          

         </th:block>



          

        </div>
      </div>
    </div>